html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Arial, Helvetica, Sans-Serif;
}

header {
	position: absolute;
	height: 150px;
	width: 100%;
	background-color: #1482bd;
}

header h1 {
	margin-left: 24px;
	margin-top: 24px;
	font-size: 72px;
	color: white;
}

#sidebar {
	position: absolute;
	overflow: hidden;
	width: 500px;
	top: 150px;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #eff6fc;
	text-align: center;
}

#sidebar p {
	line-height: 400px;
}

#main {
	position: absolute;
	top: 150px;
	left: 500px;
	bottom: 0;
	right: 0;
	text-align: center;
}

#main p {
	line-height: 400px;
}

#widget {
	position: absolute;
	top: 24px;
	right: 24px;
	bottom: 24px;
	width: 400px;
	background-color: white;
	border: 1px solid black;
	text-align: center;
}

#widget p {
	line-height: 50px;
}